body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

.dark-mode {
    background-color: #1e1e1e;
    color: white;
}

.chat-box {
    width: 60%;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

.dark-mode .chat-box {
    background: #2c2c2c;
}